h2 {
    text-align: center;
    color: purple;
    font-family: 'Lora', serif;

}

h3 {
    color: purple;
    font-family: 'Lora', serif;
}

.jumbotron {

    background-color: purple;
    color: #ffff;
    font-family: 'Lora', serif;

}

