h2 {
    text-align: center;
    color: purple;
    font-family: 'Lora', serif;

}


.jumbotron {

    background-color: purple;
    color: #ffff;
    font-family: 'Lora', serif;

}

.col-sm-3 {

    font-family: 'Lora', serif;
    color: #000;
    text-align: center;
    font-size: 25px;
    
    

}